@tailwind base;
@layer base {
    h1 {
        @apply text-2xl;
    }
    h2 {
        @apply text-xl;
    }
    h3 {
        @apply text-lg;
    }
}
@tailwind components;
@tailwind utilities;
@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
}

a {
    color: inherit;
    text-decoration: none;
}

.gradient {
    background: linear-gradient(308.18deg, #fdbc87 6.12%, #d0650d 93.32%);
}

#plans:hover {
    background: linear-gradient(162.56deg, #B6590C 8.08%, #7D3D08 89.02%);
}



.sidecolor {
    background: linear-gradient(
            264.89deg,
            rgba(250, 121, 15, 0.7) 7.26%,
            rgba(167, 81, 10, 0.7) 83.12%
        ),
        linear-gradient(2.16deg, #d0650d 39.33%, #fa790f 93.69%);
}
